<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ronha.spike.navigation">

    <application
        android:name=".ui.application.SpikeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpikeNavigation">
        <activity
            android:name=".ui.features.qr.QrActivity"
            android:exported="false" />
        <activity
            android:name=".ui.features.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.features.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.features.qr.scan.ScanActivity"
            android:exported="false" />
    </application>

</manifest>